.woocommerce {
  .woocommerce-breadcrumb {
    margin-top: 56px;
    margin-bottom: 24px;
    display: flex;
    gap: 5px;
    font-size: 14px;
    line-height: 22px;
    color: inherit;
    .active {
      color: $style;
    }
    @include media-breakpoint-down(md) {
      a, span {
        display: none;
      }
      a:nth-last-child(3),
      span:nth-last-child(2),
      span.active {
        display: block;
      }
    }
  }
}

.woocommerce {
  
  .breadcrumbs {
    position: relative;
    z-index: 2;
    + .category-header {
      margin-top: -60px;
    }
  }

  

  .products-list {
    &__swiper-wrapper {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__slide {
      > a {
        display: block;
        img {
          max-width: 100%;
          min-height: 616px;
          object-fit: cover;
        }
      }
    }

    &__navigation {
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 20px;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 2;
      max-width: 1594px;
    }

    &__pagination {
      max-width: 1594px;
    }

    &__arrows {
      position: absolute;
      top: 0;
      display: block;
      width: 22px;
      height: 22px;
      pointer-events: all;
      cursor: pointer;
      color: $style;
      &--next {
        right: 10px;
        &:before {
          @include make-arrow(15px, 3px, -45deg);
        }
        
      }
      &--prev {
        left: 10px;
        &:before {
          @include make-arrow(15px, 3px, 135deg);
        }
      }
    }

    .swiper-slide-active + li + li + li {
      opacity: 0.25;
    }

    .woocommerce-loop-product__image {
      overflow: hidden;
      img {
        transition: all .3s;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    .woocommerce-loop-product__title {
      display: inline-flex;
      position: relative;
      padding-right: 20px;
      @include arrow-right(8px, 2px);
      &:before {
        opacity: 0;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }


  &.single-product {
    .variations {
      .reset_variations {
        display: none !important;
      }
    }
  }

  .product-header {
    position: relative;
    overflow: hidden;

    &__container {
      position: relative;
      z-index: 2;
    }

    .bg--right {
      position: absolute;
      top: 0;
      right: 0;
      pointer-events: none;
      @include media-breakpoint-up(md) {
        top: auto;
        bottom: 0;
        right: -60px;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }
    }

    &__gallery {
      width: 100%;
      max-width: 788px;
    }

    .woocommerce-product-gallery {
      width: 100% !important;
      float: none !important;
      margin: 0;
      .wpgs-for {
        img {
          width: 100%;
          object-fit: cover;
          min-height: 560px;
          @include media-breakpoint-down(lg) {
            min-height: 232px;
          }
        }
        .slick-arrow {
          display: none !important;
          top: auto;
          bottom: -75px;
          right: 60px;
          color: #69737A;
          @include media-breakpoint-up(lg) {
            display: block !important;
          }

          &:hover {
            color: $style;
          }

          &:before {
            @include make-arrow(20px, 4px, 135deg);
          }

          &.flaticon-right-arrow {
            right: 30px;
            &:before {
              @include make-arrow(20px, 4px, -45deg);
            }
          }
        }
        .slick-slide {
          border-radius: 0 0 48px 0;
          overflow: hidden;
        }
      }
      .wpgs-nav {
        @include media-breakpoint-up(lg) {
          padding-right: 118px;
        }
        img {
          object-fit: cover;
          width: 118px;
          height: 118px;
          @include media-breakpoint-down(lg) {
            width: 100%;
            height: auto;
          }
        }
        
        .slick-track {
          margin-left: 0;
          margin-right: 0;
          display: flex;
        }
        .slick-slide {
          margin: 16px 16px 0 0;
          @include media-breakpoint-down(lg) {
            margin: 10px 10px 0 0;
          }
        }
      }
    }

    &__title {
      order: 1;
    }

    &__subtitle {
      order: 2;
    }

    &__content {
      order: 3;
      max-width: 654px;
      font-size: 18px;
      line-height: 32px;
    }

    form.cart {
      order: 4;
      margin: 0;
    }

    &__button {
      order: 5;
    }

  }

}

.woocommerce-info {
  @extend .alert;
  @extend .alert-warning;
}